#wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.parent {
    width: 85%;
    height: 80%;
    background-color: #00538C;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative; 
    z-index: 1; 
}

.child {
    width: 80%;
    height: 52%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    position: absolute; 
    top: 100px; 
    z-index: 2; 
    background-color: #fff;
    box-shadow: rgb(59, 58, 58) 5px 5px ;
    
}
.child p {
    font-size: 18px;
    color: black;
}
.child h3 {
    font-size: 22px;
    color: black;
}
.image-section img {
    width: 150px;
    border-radius: 100px;
    border-color: #00538C;

}
.name-section-name{
    display: flex;
    justify-content: space-between;
    /* gap: 25px; */
}
.name-section hr{
    border: 1px solid #00538C;
    
}
.name-section h3, .name-section p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.social-section { 
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social-section i {
    font-size:30px
}
.social-section .fa-linkedin {
    color: blue;
}
.social-section .fa-x-twitter {
    color: black;
}
.social-section .fa-github {
    color: rgb(6, 6, 6);
}

#links{
    display: flex;
    justify-content: center;
    gap: 30px;
}
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: 90%;
    }

    .parent {
        width: 95%;
        height: 90%;
    }

    .child {
        flex-direction: column;
        height: auto;
        width: 95%;
    }

    .image-section img {
        width: 100px;
    }

    .name-section-name {
        flex-direction: column;
        align-items: center;
    }

    .social-section {
        justify-content: space-around;
        width: 100%;
    }
    #links{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 430px) {
    .container {
        width: 90%;
        height: 90%;
    }

    .parent {
        width: 95%;
        height: 90%;
    }

    .child {
        flex-direction: column;
        height: 70%;
        width: 85%;
    }

    .image-section img {
        width: 80px;
    }

    .name-section-name {
        flex-direction: column;
        align-items: center;
    }

    .social-section {
        margin-top: 10px;
        justify-content: space-around;
        width: 85%;
    }
    #links{
        display: flex;
        flex-direction: column;
    }
}
